/* Global */
@font-face {
  font-family: 'Ikaros';
  src: url('./Ikaros/ikaros-light-webfont.woff2') format('woff2'),
    url('./Ikaros/ikaros-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Ikaros';
  src: url('./Ikaros/ikaros-regular-webfont.woff2') format('woff2'),
    url('./Ikaros/ikaros-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

:root {
  --blue: #093448;
  --light-blue: #008FD2;
  --inner-padding: 4.8rem;
}

html {
  max-width: 100vw;
  font-size: 16px;
  font-family: Stolzl, sans-serif;
  color: var(--blue);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

button, .button {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--light-blue);
  position: relative;
  padding: 14px 23px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  font-family: Stolzl, sans-serif;
}
button.dark, .button.dark {
  color: var(--blue);
}
button::before, .button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--light-blue);
  transition: .5s;
}
button:hover, .button:hover {
  color: #ffffff;
}
button:hover::before, .button:hover::before {
  width: 100%;
}

li {
  list-style-type: none;
}

p {
  font-size: 1rem;
  font-family: Stolzl;
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h4 {
  font-family: Ikaros, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
}

h2 {
  color: var(--blue);
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  font-size: 36px;
}

h3 {
  font-family: Stolzl, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h4 {}

.blue-bg,
footer {
  background-color: var(--blue);
}


#page-content {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: auto;
  max-width: 1216px;
}

/* Nav */
.header {
  position: absolute;
  top: 2.5rem;
  z-index: 10;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mobile-menu {
  display: none;
}
/*.active {
  display: flex!important;
  position: absolute;
  top: 0;
  left: 0;
}*/
nav.nav-bar ul.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav.nav-bar ul.nav-list #main-logo {
  width: 112px;
  height: 87px;
}
.nav-item p {
  transition: .5s;
}
.nav-item.contact p span {
  color: var(--blue);
  transition: .5s;
}
.nav-item:hover p, .nav-item:hover p span {
  color: var(--light-blue);
  font-weight: 500;
}

/* Home */
#home {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  margin-bottom: calc(2.5rem + 100px);
}
#home .wrapper {
  padding-top: calc(2.5rem + 100px);
}
.home-bg {
  background: var(--blue);
  position: absolute;
  width: calc(50% + (1216px / 4 - 1.5rem));
  height: 100%;
  z-index: -1;
}
.home-bg .img-wrapper {
  width: 100%;
  height: 100%;
  background: url("./assets/home.png"), url("./assets/home-small.png");
  background-size: cover;
}
.home-bg .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1666px;
  margin: auto;
}
.home-content .right-side {
  width: 50%;
  height: 100vh;
  max-height: 1080px;
  background: #949494;
  background-image: url("./assets/homepage-hero_img.png"), url("./assets/homepage-hero_img-small.png");
  background-size: cover;
  position: relative;
  margin-bottom: calc(-1 * (2.5rem + 100px));
}
.home-content .left-side {
  width: 40%;
  padding-left: var(--inner-padding);
}
.home-content .left-side .content-text {
  color: white;
}
.home-content .left-side .content-text h1 {
  max-width: 20rem;
  margin-bottom: 1rem;
}
.home-content .left-side .content-text p {
  max-width: 24rem;
}
.home-content .left-side .content-text .button {
  margin-top: 2rem;
}

/* About */
#about {
  padding-top: 10rem;
}
#about .about-content {
  padding: 0 var(--inner-padding);
}
#about .title {
  text-align: center;
  margin-bottom: 41px;
}
#about p {
  text-align: center;
  font-family: Ikaros, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#about .about-icons {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}
#about .about-icons .about-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .about-icons .about-icon .img-wrapper img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
#about .about-icons .about-icon p {
  font-family: Stolzl, sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}


/*WHO WE SERVE*/
#products {
  margin-top: 13.25rem;
  background: url("./assets/products.png") no-repeat bottom left;
  background-size: 80%;
}
#products p {
  font-weight: 400;
}
#products .wrapper .products-content.who-we-serve .top {
  display: flex;
  justify-content: space-between;
}
#products .wrapper .products-content.who-we-serve .top .left {
  width: 40%;
  padding-left: var(--inner-padding);
}
#products .wrapper .products-content.who-we-serve .top .left .title {
  margin-bottom: 3.5rem;
}
#products .wrapper .products-content.who-we-serve p.text {
  margin-bottom: 1.5rem;
  max-width: 24rem;
}
#products .wrapper .products-content.who-we-serve .top .left ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 5rem;
  padding-left: 2rem;
  margin-top: 4rem;
}
#products .wrapper .products-content.who-we-serve .top .left ul li {
  width: 5rem;
  position: relative;
}
#products .wrapper .products-content.who-we-serve .top .left li.clients-list-item::after {
  content: '✓';
  position: absolute;
  left: -20px;
  top: -3px;
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
}
#products .wrapper .products-content.who-we-serve .top .right {
  width: 50%;
}
#products .wrapper .products-content.who-we-serve .imgs-container {
  width: 50%;
}

#products .wrapper .products-content.who-we-serve .top .right .imgs-top {
  position: relative;
  left: -80px;
}
#products .wrapper .products-content.who-we-serve .top .right .imgs-top,
#products .wrapper .products-content.who-we-serve .top .right .imgs-bottom {
  display: flex;
  gap: 5px;
}

#products .wrapper {
  display: flex;
  flex-direction: column;
  gap: 126px;
}

#products .top .right .imgs-container img {
  width: 304px;
  height: 291px;
}

/* Product Sections */
#products .products-section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#products .products-section img {
  width: 581px;
  height: 583px;
  position: relative;
  top: 71px;
}

#products .products-section .bottom .content {
  padding-top: 6rem;
  padding-right: var(--inner-padding);
}
#products .products-section.synagogues .bottom .content {
  padding-right: 0;
  padding-left: var(--inner-padding);
}
#products .products-section .bottom .content p {
  max-width: 26rem;
}
#products .products-section .bottom .content p.title {
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: .5;
  font-weight: 400;
  margin-bottom: 2rem;
}
#products .products-section .bottom .content a.button {
  margin-top: 2rem;
}

/* Process */
#process {
  padding-top: 10rem;
  text-align: center;
  color: #ffffff;
}
#process .title {
  margin-bottom: 2rem;
}
#process p.text {
  font-weight: 400;
  margin-bottom: 2rem;
}
#process .buttons .button {
  min-width: 10rem;
  margin: 0 .5rem;
  position: relative;
  z-index: 1;
}
#process .buttons .button.active {
  color: #ffffff;
}
#process .buttons .button.active::before {
  width: 100%;
}
#process .scrollable-process {
  margin-top: 2rem;
}
#process .scrollable-process img {
  width: 100%;
  height: auto;
}

#process .step-desc {
  padding: 0 var(--inner-padding);
  text-align: left;
}
#process .step-title {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 5rem;
  font-size: 1.75rem;
  display: inline-block;
}
#process .step-text {
}
#process p.step-title:before {
  content: '';
  width: 2px;
  height: 5rem;
  background-color: #ffffff;
  position: absolute;
  top: -6rem;
  left: calc(50% - 1px);
}

#process .step-img {
  position: relative;
  z-index: 10;
}
#process .step-img .nav {
  position: absolute;
  top: calc(50% - 2rem);
  width: calc(100% + 6rem);
  left: -3rem;
  justify-content: space-between;
  display: none;
}
#process .step-img.active .nav {
  display: flex;
}
#process .step-img .nav .arrow.next {
  transform: rotate(180deg);
}
#process .step-img .img-container, #process .step-wrapper {
  opacity: 1;
  transition: .5s;
}
#process .step-wrapper { 
  transform: translateX(0);
}
#process .step-wrapper:not(.active) {
  transform: translateX(-100px);
}
#process .step-img .img-container:not(.active), #process .step-wrapper:not(.active) {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
#process .step-wrapper:nth-child(2) {
  padding-left: calc(var(--inner-padding) * 2);
}
#process .step-wrapper:nth-child(3) {
  padding-left: calc(var(--inner-padding) * 3);
}
#process .step-wrapper:nth-child(4) {
  padding-left: calc(var(--inner-padding) * 4);
}
#process .step-wrapper p {
  margin-bottom: 1rem;
}
#process li {
  position: relative;
  font-weight: 300;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
#process li::after {
  content: '✓';
  position: absolute;
  left: -20px;
  top: -3px;
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
}

/* Contact */
#contact {
  padding: 0 var(--inner-padding);
  margin-top: 9rem;
  position: relative;
  z-index: 1;
}
#contact::after {
  content: '';
  width: calc(100% + (((100vw - 1216px) / 2)) - var(--inner-padding));
  height: 100%;
  position: absolute;
  right: calc(-1 * ((100vw - 1216px) / 2)); 
  top: 0;
  background: #ffffff;
  z-index: -1;
}
.contact-inner-wrapper {
  background-color: #ffffff;
  padding: 9rem;
  text-align: center;
  position: relative;
  z-index: 1;
}
#contact .sub-title {
  font-size: 1.75rem;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-top: .5rem;
}

#contact .contact-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
#contact .contact-icons p {
  font-weight: 400;
  color: var(--blue);
}
#contact .contact-icons .img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
#contact .contact-form,
#contact input, #contact textarea {
  width: 100%;
  text-align: left;
}
#contact .contact-form p {
  font-weight: 400;
  font-size: .9rem;
}
#contact .contact-form form .inputs-wrapper {
  display: grid;
  grid-template-areas: "name last-name"
    "email phone"
    "message message"
    ". button";
  gap: 15px 23px;
}
#contact .name {
  grid-area: name;
}
#contact .last-name {
  grid-area: last-name;
}
#contact .email {
  grid-area: email;
}
#contact .phone {
  grid-area: phone;
}
#contact .message {
  grid-area: message;
}
#contact .submit-button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 32px;
}
#contact input, #contact textarea {
  padding: 15px;
  margin-top: 9px;
  border: 1px solid var(--light-blue);
}
#contact .inputs-wrapper .error input {
  border-color: red;
}
#contact .contact-form p.error-msg {
  display: none;
  font-size: .75rem;
  color: red;
  font-weight: 300;
}
#contact .contact-form .inputs-wrapper .error p.error-msg {
  display: block;
}
#contact input:focus, #contact textarea:focus {
  outline: 1px solid var(--blue);
}

#contact form > .success-msg, #contact form > .error-msg {
  display: none;
  margin-top: 1rem;
  text-align: center;
}
#contact form.error > .error-msg {
  display: block;
  font-size: .9rem;
  font-weight: 400;
}
#contact form.success > .success-msg {
  display: block;
}

/* Footer */
#footer {
  color: white;
  padding-top: 43px;
  padding-bottom: 22px;
  margin-top: -1px;
}
#footer .wrapper .top {
  display: flex;
  justify-content: space-between;
}
#footer .wrapper .top .img-wrapper img {
  width: 67px;
  height: 52px;
}
#footer .wrapper ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 35.5px;
}
#footer .bottom p {
  color: #ffffff;
  font-size: .75rem;
  font-weight: 300;
}

@media screen and (max-width: 1280px) {
  :root {
    --inner-padding: 0;
  }
  nav.nav-bar ul.nav-list {
    gap: 1rem;
  }
  .nav-item.contact p span {
    color: #ffffff;
  }
  li.nav-item.download {
    background: #fff;
  }

  #products .wrapper .products-content.who-we-serve .top .left {
    width: 50%;
  }
  #products .wrapper .products-content.who-we-serve p.text {
    max-width: 26rem;
  }
  #products .wrapper .products-content.who-we-serve .top .right {
    width: 45%;
  }
  #products .wrapper .products-content.who-we-serve .imgs-container {
    width: 100%;
  }
  #products .wrapper .products-content.who-we-serve .imgs-container .img-wrapper {
    width: 50%;
  }
  #products .top .right .imgs-container img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
  }
  #products .wrapper .products-content.who-we-serve .top .right .imgs-top {
    left: -50px;
  }

  #products .products-section .image {
    width: 50%;
  }
  #products .products-section .image img {
    width: 100%;
    height: auto;
  }

  #process .step-img .nav {
    width: calc(100% + 4rem);
    left: -2rem;
  }
}

@media screen and (max-width: 1000px) {

  html {
    overflow-x: hidden;
  }

  .header {
    top: 2rem;
  }
  .header .img-wrapper {
    max-width: 90px;
  }
  .header .img-wrapper img {
    width: 100%;
  }
  nav .mobile-menu {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    align-items: flex-end;
    z-index: 10;
  }
  .mobile-menu .line {
    width: 2.5rem;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    transition: .5s;
  }
  .mobile-menu .line:nth-child(2) {
    width: 1.8rem;
  }
  .mobile-menu .line:nth-child(3) {
    width: 1rem;
  }

  .header.open .mobile-menu .line {
    transform: rotate(45deg);
  }
  .header.open .mobile-menu .line:nth-child(2) {
    margin-top: -11px;
    transform: rotate(-45deg);
    width: 2.5rem;
  }
  .header.open .mobile-menu .line:nth-child(3) {
    width: 0;
  }

  ul.nav-list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: -30px;
    background: var(--blue);
    left: 0;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: .5s;
  }
  .header.open ul.nav-list {
    height: 100vh;
  }

  li.nav-item.download {
    margin-top: 2rem;
  }

  #home {
    min-height: 80vh;
    height: auto;
  }
  #home .wrapper {
    padding-top: 23px;
  }
  #home .img-wrapper img {
    width: 90px;
    height: 90px;
  }
  .home-bg {
    width: 100% !important;
    height: 110%;
  }
  .home-content {
    flex-direction: column;
  }

  .home-content .right-side {
    width: 100%;
    height: 100vw;
    min-height: 0 !important;
    top: 0;
    left: 0;
    margin-bottom: -70vw;
  }

  .home-content .left-side {
    width: 100%;
    text-align: center;
    padding-top: 10rem;
  }
  .home-content .left-side .content-text h1 {
    width: 90%;
    margin: auto;
    font-size: 2.8rem;
  }
  .home-content .left-side p {
    width: 90%;
    margin: 1rem auto 1rem;
  }

  .home-content .left-side .content-text .button {
    margin: 1rem auto 3rem;
  }

  #about {
    padding-top: 10rem;
  }
  #about p {
    font-family: Stolzl, sans-serif;
    font-size: 1rem;
  }
  #about .title {
    margin-bottom: 2rem;
  }
  #about .about-icons {
    margin-top: 4rem;
  }
  #about .about-icons .about-icon p {
    font-size: 1rem;
    margin-top: .5rem;
    font-weight: 400;
  }
  #about .about-icons .about-icon .img-wrapper img {
    width: 47px;
    height: 51px;
    object-fit: contain;
  }

  #products .wrapper .products-content.who-we-serve .top .left {
    width: 100%;
  }
  #products .wrapper .products-content.who-we-serve .top .left .title {
    margin-bottom: 2rem;
  }

  #products {
    margin-top: 5rem;
    background-size: 210%;
  }
  #products .wrapper {
    gap: 0;
  }
  #products .top {
    flex-direction: column;
  }

  #products .top .right .imgs-container img {
    width: 197px;
    height: 223px;
  }
  #products .wrapper .products-content.who-we-serve .top .left {
    max-width: none;
    padding-top: 0;
  }
  #products .wrapper .products-content.who-we-serve .top .right {
    width: 100%;
  }
  #products .wrapper .products-content.who-we-serve .top .left ul {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  #products .wrapper .products-content.who-we-serve .top .left ul li {
    width: 80px;
  }
  #products .wrapper .products-content.who-we-serve .imgs-container {
    width: 100vw;
  }
  #products .top .right .imgs-container img {
    width: 100%;
    height: 45vw;
  }
  #products .products-section.synagogues {
    margin-bottom: -5rem;
  }
  #products .products-section .bottom .right {
    padding-top: 0;
  }
  #products .products-section .bottom {
    flex-direction: column-reverse;
    gap: 0;
  }
  #products .products-section.synagogues .bottom {
    flex-direction: column;
  }
  #products .products-section .image {
    width: 100%;
  }
  #products .products-section .image img {
    position: static;
    margin-top: 4rem;
  }

  #process {
    padding-top: 8rem;
  }
  #process p.text {
    max-width: 20rem;
    margin: 0 auto 2rem;
  }

  #process .buttons {
    display: flex;
    justify-content: center;
  }

  #process .buttons a.button {
    display: flex;
    text-align: center;
    font-size: 14px;
    min-width: 0;
  }

  #process .scrollable-process img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  #process .step-img .nav {
    width: 20%;
    left: auto;
    top: 100%;
    right: 0;
  }
  #process .step-img .nav svg {
    width: .8rem;
  }
  #process .step-img .nav .arrow.next svg {
    position: relative;
    top: 4px;
  }

  #process p.step-title {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  #process p.step-title:before {
    height: 3.5rem;
    top: -4rem;
  }

  #process .title {
    margin-bottom: 1rem;
  }

  #process .step-text {
    font-size: 14px;
  }

  #contact .contact-inner-wrapper {
    padding: 4rem 1rem;
  }
  #contact .contact-icons {
    display: block;
  }
  #contact .contact-icons .img-wrapper {
    margin-bottom: 2.5rem;
  }
  #contact .contact-form form .inputs-wrapper {
    display: block;
  }
  #contact .contact-form form .inputs-wrapper > div {
    margin-bottom: 1rem;
  }

  #footer .wrapper .top {
    flex-direction: column;
  }

  #footer .wrapper ul {
    display: grid !important;
    grid-template-areas:
      "home process"
      "about contact"
      "products brochure";

    margin: auto;
    gap: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #264c5d;
    padding-bottom: 47.5px;
    width: 75%;
  }

  #footer .wrapper li:nth-child(1) {
    grid-area: home;
  }

  #footer .wrapper li:nth-child(2) {
    grid-area: about;
  }

  #footer .wrapper li:nth-child(3) {
    grid-area: products;
  }

  #footer .wrapper li:nth-child(4) {
    grid-area: process;
  }

  #footer .wrapper li:nth-child(5) {
    grid-area: contact;
  }

  #footer .wrapper li:nth-child(6) {
    grid-area: brochure;
  }

  #footer .img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  #footer .bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}