@font-face {
  font-family: 'ikaros_sanslight';
  src: url('./Ikaros/ikaros-light-webfont.woff2') format('woff2'),
    url('./Ikaros/ikaros-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'ikaros_sansregular';
  src: url('./Ikaros/ikaros-regular-webfont.woff2') format('woff2'),
    url('./Ikaros/ikaros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-size: 16px;
}

:root {
  --blue: #093448;
  --light-blue: #008FD2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.button {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 19px;
  letter-spacing: 0;
  font-size: 16px;

  font-family: Stolzl, sans-serif;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

p {
  font-size: 16px;
  font-family: Stolzl;
  font-weight: 300;

}

h1 {
  font-size: 41px;
  line-height: 53px;

}

h1,
h2,
h3,
h4 {
  font-family: ikaros_sanslight, sans-serif;
}

h2 {
  color: var(--blue);
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  font-size: 36px;
}

h3 {}

h4 {}

/*Page content principal wrapper*/
#page-content {
  width: 100vw;
}

.wrapper {
  width: 89.2%;
  margin: auto;
}

/*Home BG*/
#home {
  width: 100%;
  min-height: 765px;

  position: relative;
}

#home .wrapper {
  padding-top: 38px;
}

.home-bg {
  position: absolute;
  width: 74%;
  height: 100%;
  background-color: var(--blue);
  /*background-image: url('./assets/homepage_bg.png');
  background-size: contain;*/
  z-index: -1;
}

.home-bg .img-wrapper {
  width: 64%;
}

.home-bg .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*navbar*/

nav.nav-bar {
  width: 100%;
  height: 113px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav-bar ul.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav.nav-bar ul.nav-list #main-logo {
  width: 112px;
  height: 87px;
}

.nav-item.download {
  border: 1px solid var(--light-blue);
  padding-right: 23px;
  padding-left: 23px;
}

@media screen and (min-width: 1367px) {
  .nav-item.contact p {
    color: var(--light-blue);
  }
}

.nav-item.download p {
  color: var(--blue);
  font-weight: 500 !important;
}

.home-content {
  display: flex;
  justify-content: space-between;

  max-width: 1666px;
  margin: auto;
}

.home-content .right-side {
  width: 678px;
  min-height: 685px;
  background-image: url("./assets/homepage-hero_img.png");
  background-size: contain;

  position: relative;
  top: 50px;
}

.home-content .left-side {
  width: 30%;
  padding-top: 104px;
}

.home-content .left-side .content-text {
  color: white;

  display: flex;
  flex-direction: column;
  gap: 27px 0;
}

.home-content .left-side .content-text h1 {
  width: 75%;
  letter-spacing: 0px;
}

.home-content .left-side .content-text p {
  font-weight: 300;
  line-height: 24px;
}

.home-content .left-side .content-text .button {
  padding-left: 30px;
  padding-right: 30px;

  max-width: fit-content;

  border: 1px solid var(--light-blue);
}

#about {
  padding-top: 165px;
}

#about .about-content {
  width: 87.7%;
  margin: auto;
}

#about .title {
  text-align: center;
  margin-bottom: 41px;
}

#blank {
  width: 100vw;
  height: 2000px;
}


#about .about-icons {
  width: 100%;

  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

#about .about-icons .about-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .about-icons .about-icon .img-wrapper img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

#about .about-icons .about-icon p {
  font-weight: 600;
  color: var(--blue);
  margin-top: 29px;
  font-size: 24px;
  text-align: center;
}


/*WHO WE SERVE*/
#products {
  margin-top: 212px;
}

#products .wrapper .products-content.who-we-serve .top {
  width: 90%;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

#products .wrapper .products-content.who-we-serve .top .left {
  max-width: 34%;
  padding-top: 76px;
}

#products .wrapper .products-content.who-we-serve .top .left p.title {
  color: #093448;
  margin-bottom: 55.26px;
  font-weight: 200;
}

#products .wrapper .products-content.who-we-serve .top .left p.text {
  color: #093448;
  margin-bottom: 27.74px;
  font-weight: 600;
  line-height: 26px;
}

#products .wrapper .products-content.who-we-serve .top .left ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 83.5px;
  padding-left: 43px;
}

#products .wrapper .products-content.who-we-serve .top .left ul li {
  width: 120px;
  position: relative;
}

#products .wrapper .products-content.who-we-serve .top .left li.clients-list-item::after {
  content: '✓';
  position: absolute;
  left: -20px;
  top: -3px;
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
}

#products .wrapper .products-content.who-we-serve .top .right {
  max-width: 50%;

}

#products .wrapper .products-content.who-we-serve .imgs-container {
  width: 50%;

}

#products .wrapper .products-content.who-we-serve .top .right .imgs-top {
  position: relative;
  left: -80px;
}

#products .wrapper .products-content.who-we-serve .top .right .imgs-top,
#products .wrapper .products-content.who-we-serve .top .right .imgs-bottom {
  display: flex;
  gap: 5px;
}

#products .wrapper {
  display: flex;
  flex-direction: column;
  gap: 126px;
}

#products .top .right .imgs-container img {
  width: 304px;
  height: 291px;
}

/*BARS*/
#products .products-content.bars .bottom {
  display: flex;
  gap: 80px;
}

#products .products-content.bars img {
  width: 581px;
  height: 583px;

  position: relative;
  top: 71px;
}

#products .products-content.bars .bottom .right {
  padding-top: 152px;
}

#products .products-content.bars .bottom .right p.title {
  color: var(--blue);
  font-size: 28px;
  letter-spacing: 0.84px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 41.5px;
}

#products .products-content.bars .bottom .right p.text {
  color: var(--blue);
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 41.5px;
}

#products .products-content.bars .bottom .right a.button {
  color: var(--blue);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 19px;
  font-weight: 200;
  border: 1px solid var(--light-blue);
  padding-left: 24px;
  padding-right: 24px;
}

.blue-bg,
footer {
  background-color: var(--blue);
}

#process {
  padding-top: 195px;
}

#contact {
  background-color: white;
  max-width: 1222px;
  margin-left: auto;
}

.contact-inner-wrapper {
  max-width: 777px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .wrapper {
  width: 80%;
  padding-top: 91px;
  padding-bottom: 87.2px;
}

#contact p.title {
  color: var(--blue);
  font-size: 16px;
  line-height: 19px;
}

#contact h3.sub-title {
  color: #093448;
  font-size: 28px;
  letter-spacing: 0.84px;
}

#contact .contact-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 114px;
}

#contact .contact-icons .img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

#contact .contact-form,
#contact input {
  width: 100%;
}

#contact .contact-form form .inputs-wrapper {
  display: grid;
  grid-template-areas: "name last-name"
    "email phone"
    "message message"
    ". button";
  gap: 15px 23px;
}

#contact .name {
  grid-area: name;
}

#contact .last-name {
  grid-area: last-name;
}

#contact .email {
  grid-area: email;
}

#contact .phone {
  grid-area: phone;
}

#contact .message {
  grid-area: message;
}

#contact .submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}

#contact button .button{
  border: 1px solid var(--light-blue);
  color: var(--blue);
  padding-left: 52px;
  padding-right: 52px;
}

#contact input {
  padding: 15px;
  margin-top: 9px;
  border: 1px solid var(--light-blue);
}

#contact input:focus{
  outline: 1px solid var(--blue);
}

#footer {
  color: white;
  padding-top: 43px;
  padding-bottom: 22px;
}